<footer>
    <div class="container footer">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <p>&copy; 2024 - All Rights Reserved.</p>
    </div>
</footer>

</body>
</html>